/* src/components/Homepage.module.css */
.homepage {
    /* Add your background image or color here */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #02263c; /* Example background color */
    position: fixed; /* Add this line to fix the navbar */
    top: 0; /* Add this line to position it at the top */
    left: 0;
    z-index: 10; /* Ensure navbar is above other elements */
  }
  
  .currentTime {
    font-weight: bold;
    color: white;
  }
  
  .loginButton {
    padding: 0.5rem 1rem;
    background-color: #f37020;; /* Example button color */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 40px;
  }
  
  .hero {
    text-align: center;
    padding-top: 60px; /* Add padding to avoid content being hidden by navbar */
  }
  
  .aicteLogo {
    /* Adjust size as needed */
    max-width: 500px;
  }

.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1000;
  }