/* src/components/Step6.module.css */
.step6Container {
  padding: 3rem 3rem;
  box-sizing: border-box;
  }
  
  .inputFields {
    display: flex; /* Enable flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping of items to the next row */
    column-gap: 10rem; /* Add horizontal space between fields in the same row */
    row-gap: 2.5rem; /* Add vertical space between rows */ 
  }
  
  .inputGroup {
    flex: 1 1 calc(15% - 1.5rem); /* 25% width with gap adjustment for spacing */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    margin-bottom: 1rem; /* Additional margin for space between rows */
 
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .input {
    width: 100%; /* Input fields take full width of their container */
    padding: 0.7rem; /* Increase padding for better usability */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 15px; /* Rounded corners for inputs */
    background-color: lavender; /* Subtle background color */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth effect on focus */
  }

  .input:focus {
    border-color: #7f8c8d; /* Darker border on focus */
    box-shadow: 0 0 5px rgba(127, 140, 141, 0.5); /* Add shadow on focus */
    outline: none; /* Remove default outline */
  }

  .header { /* Added styles for the header */
    text-align: left;
    margin-bottom: 1.5rem;
  }
  
  .header h2 { /* Specific styles for the heading */
    color: #007BFF; /* Bluish color for the heading */
  }
  
  .horizontalLine {
    width: 100%; /* Adjusted horizontal line width */
    margin: 0; /* Align with the heading */
    border: 2px solid #0400ff; /* Bluish color for the horizontal line */
  }

  .row { /* No need for separate row styles */
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; /* Allow wrapping to the next line */
  }