/* HomeLink.module.css */

.homeLinkContainer {
  background: linear-gradient(120deg, #3498db, #8e44ad);
  padding: 2rem;
  color: #fff;
  text-align: center;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.header {
  margin-top: 70px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.horizontalLine {
  width: 60%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 2rem;
}



.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  background: #ffffff;
  color: #2c3e50;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 280px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.icon {
  font-size: 3rem;
  color: #3498db;
  margin-bottom: 1rem;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 1rem;
  color: #7f8c8d;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loaderText {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}
