/* src/components/SignIn.module.css */
.signInPage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background-image: url('../assets/login_cover.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent image repetition   

   */
  }
  
  .signInContainer {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    padding: 3rem; /* Increased padding */
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Verdana, sans-serif; /* Added font-family */
    width: 300px; /* Increased width */
    /* margin-left: 800px; */
    height: 400px;
  }
  
  .aicteLogo {
    max-width: 200px;
    margin-bottom: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .inputField {
    padding: 0.8rem; /* Increased padding */
    margin-bottom: 1.2rem; /* Increased margin */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Verdana, sans-serif; /* Added font-family */
    color: lightblue; /* Changed text color to light blue */
  }
  
  .signInButton {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .signInButton {
    padding: 0.8rem 1rem; /* Increased padding */
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Verdana, sans-serif; /* Added font-family */
  }
  
  .links {
    margin-top: 1.5rem; /* Increased margin */
  }
  
  .link {
    display: block;
    margin-bottom: 0.8rem; /* Increased margin */
    color: lightblue; /* Changed text color to light blue */
    text-decoration: none;
    font-family: Verdana, sans-serif; /* Added font-family */
  }


  .loaderContainer {
    position: fixed; /* Use fixed positioning to cover the whole viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Set background color to white */
    z-index: 100; /* Ensure the loader is on top */
  }