/* src/components/Step4.module.css */
.step4Container {
  padding: 3rem 3rem;
  box-sizing: border-box;
  }
  
  .programTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .programTable th,
  .programTable td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }

  .header { /* Added styles for the header */
    text-align: left;
    margin-bottom: 1.5rem;
  }
  
  .header h2 { /* Specific styles for the heading */
    color: #007BFF; /* Bluish color for the heading */
  }
  
  .horizontalLine {
    width: 100%; /* Adjusted horizontal line width */
    margin: 0; /* Align with the heading */
    border: 2px solid #0400ff; /* Bluish color for the horizontal line */
  }

  .uploadButton {
    padding: 0.5rem 1rem;
    background-color: #48afef; /* Example button color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }