python-multipart==0.0.9
PyPDF2==3.0.1
cryptography
Pillow
pytesseract==0.3.10
pdf2image==1.17.0
fastapi
uvicorn
openai
python-dotenv
pydantic
asn1crypto
python-dateutil
pypdf
groq
pymongo
matplotlib
seaborn
pymupdf
google-cloud-vision