.step5Container {
  padding: 3rem 3rem;
  box-sizing: border-box; 
}

.inputFields {
  display: flex; /* Enable flexbox */
  flex-wrap: wrap; /* Allow wrapping of input fields */
  column-gap: 2rem; /* Horizontal spacing between columns */
  row-gap: 4rem; /* Vertical spacing between rows */
}

.inputGroup {
  flex: 1 1 calc(25% - 2rem); /* Ensures 4 items per row with proper spacing */
  box-sizing: border-box; /* Include padding/borders in width calculation */
}

.label {
  display: block;
  margin-bottom: 0.5rem; /* Space between label and input */
}

.input {
  width: 100%; /* Full width within the container */
  padding: 0.7rem; /* Comfortable padding */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 15px; /* Rounded corners */
  background-color: lavender; /* Subtle background color */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth effect on focus */
}

.input:focus {
  border-color: #7f8c8d; /* Highlighted border on focus */
  box-shadow: 0 0 5px rgba(127, 140, 141, 0.5); /* Subtle shadow effect */
  outline: none; /* Remove default outline */
}

.header { /* Added styles for the header */
  text-align: left;
  margin-bottom: 1.5rem;
}

.header h2 { /* Specific styles for the heading */
  color: #007BFF; /* Bluish color for the heading */
}

.horizontalLine {
  top: 40%;
  width: 100%; /* Adjusted horizontal line width */
  margin: 0; /* Align with the heading */
  border: 2px solid #0400ff; /* Bluish color for the horizontal line */
}
